@{
    ViewBag.Title = "VehicleMVC";
}


<div class="jumbotron">
    <p class="lead">My MVC Web </p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Models", "Index", "Model")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Makers", "Index", "Maker")</h2>
    </div>

</div>